<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="../content/preferences.css" rel="stylesheet" />
    </head>
    <body>
        <script src="../content_scripts/browserStorage.js"></script>
        <script src="../content_scripts/pageInfo.js"></script>
        <script type="module" src="../background_scripts/preferencesInitialisation.js"></script>

        <form>
            <div>
                <input id="form--check-warning" type="checkbox" checked="checked" />
                <label>Warning about unsaved changes</label>
            </div>
            <div>
                <input id="form--check-loading" type="checkbox" />
                <label>Loading a page automatically from the storage</label>
            </div>
            <hr />
            <div>
                <label>Default colour:</label>
                <div id="form--section-colours"></div>
            </div>
            <hr />
            <div>
                <label>Saved pages:</label>
                
                <div>
                    <span>🔍</span>
                    <input type="text" placeholder="Search" id="form--section-page--txt-search" />
                </div>
                
                <table id="form--table-pages" style="width:100%">
                    <thead style="width:inherit">
                            <tr>
                                <th><input id="form--table-pages--check-all" type="checkbox" /></th>
                                <th class='form--table-pages--cell-header form--table-pages--cell-header-asc' data-sort-field="title">Page</th>
                                <th class='form--table-pages--cell-header' data-sort-field="date">Date</th>
                            </tr>
                    </thead>
                    <tbody style="width:inherit"></tbody>
                </table>

                <div class="form--section-page">
                    <button disabled id="form--section-page--btn-show" type="button" title="Open in a New Tab">👁</button>
                    <button disabled id="form--section-page--btn-remove" type="button" title="Remove">❌</button>
                </div>
            </div>
            <hr />
            <button type="submit">Save</button>
        </form>
    </body>
</html>