.marker:hover {
    opacity: 0.8;
}

.marker-green {
    background-color: rgb(0, 255, 0, 0.5) !important;
}

.marker-red {
    background-color: rgb(255, 0, 0, 0.5) !important;
}

.marker-pink {
    background-color: rgba(255, 0, 212, 0.5) !important;
}

.marker-blue {
    background-color: rgb(0, 0, 255, 0.5) !important;
}

.marker-orange {
    background-color: rgba(240, 156, 0, 0.5) !important;
}

.marker-yellow {
    background-color: rgba(238, 255, 0, 0.5) !important;
}

#blanket {
	position: fixed;
	width: 100vw;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
    background: gray;
    text-align: center;
    opacity: 0.9;
}

.blanket-disappear {
    opacity: 0 !important;
    transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s, position 3s;
}

.blanket-leave {
	position: relative !important;
    transition: position 2s linear;
    transition-delay: 1s;
    -webkit-transition: position 2s linear;
    -webkit-transition-delay: 1s;
}

#blanket--paragraph {
	position: inherit;
	top: 50%;
    left: 35%;
    width: 30vw;
    word-wrap: break-word;
	font-size: xx-large;
    color: white;
}
